<section class="container container-big">
    <div class="about">
        <div class="about-head">
            <h2>немного о нас</h2>
        </div>
        <div class="about-body">
            <div class="about-item1">
                <div class="about-item-content">
                    {{> image src='Mask Group.png' }}
                    <div class="about-item-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus distinctio eaque error excepturi fugiat fugit, hic illum labore minima nesciunt quasi reprehenderit voluptatum. Atque illum iste itaque neque, voluptatibus voluptatum?</p>
                    </div>
                </div>
            </div>
            <div class="about-item2">
                <div class="about-item-content">
                    {{> image src='Mask Group (1).png' }}
                    <div class="about-item-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus distinctio eaque error excepturi fugiat fugit, hic illum labore minima nesciunt quasi reprehenderit voluptatum. Atque illum iste itaque neque, voluptatibus voluptatum?</p>

                    </div>
                </div>
            </div>
            <div class="about-item3">
                <div class="about-item-content">
                    {{> image src='Mask Group (2).png' }}
                    <div class="about-item-text">
                        <p>Lorem im. Atque illum iste itaque neque, voluptatibus voluptatum?</p>
                    </div>
                </div>
            </div>
            <div class="about-item4">
                <h4>short text</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, vero!</p>
            </div>
            <div class="about-item5">
                <div class="about-item-content">
                    {{> image src='Mask Group (4).png' }}
                    <div class="about-item-text">
                        <p>Lorem ipsum dol. Atque illum iste itaque neque, voluptatibus voluptatum?</p>
                    </div>
                </div>
            </div>
            <div class="about-item6">
                <div class="about-item-content">
                    {{> image src='Mask Group (3).png' }}
                    <div class="about-item-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus distinctio eaque error excepturi fugiat fugit, hic illum labore minima nesciunt quasi reprehenderit voluptatum. Atque illum iste itaque neque, voluptatibus voluptatum?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>