<section class="container container-big container-big-auto">
    <div class="about" id="about">
        <div class="about-head mobile-none">
            <h2>немного о нас</h2>
        </div>
        <div class="about-body">
            <div class="about-item1">
                <div class="about-item-content">
                    {{> image src='about0.png' }}
                    <div class="about-item-text">
                        <p>
                            Что такое 6 лет работы фотостудии? Это более 6950 часов съемок, 3600 довольных
                            семей. Это опыт работать быстро (готовые фото через 5-7 дней), качественно
                            (лучше чем ты ожидаешь) и в комфорте (чай, кофе и какао для самых маленьких).
                            К нам всегда возвращаются, ведь Желтый кролик — это взаимная любовь"</p>
                    </div>
                </div>
            </div>
            <div class="about-item2">
                <div class="about-item-content">
                    {{> image src='about1.jpg' }}
                    <div class="about-item-text">
                       <p>
                           Желтый кролик — это про самое важное, что стоит ценить и хранить в душе: любовь,
                           семью и волшебные моменты. Например, когда на фотосессии малыш делает первые
                           шаги или пробует свой первый тортик"
                       </p>
                    </div>
                </div>
            </div>
            <div class="about-item3">
                <div class="about-item-content">
                    {{> image src='about2.jpg' }}
                    <div class="about-item-text">
                       <p>
                           Команда «Желтого кролика» — классические миллениалы.
                           Мы «не такие как все», и наверняка запомнимся тебе крутыми эмоциями
                       </p>
                    </div>
                </div>
            </div>
            <div class="about-item4 mobile-none">
                <h4>Фотосессия</h4>
                <p> Для всей семьи в студии или на выезде — кадры на всю жизнь</p>
            </div>
            <div class="about-item5">
                <div class="about-item-content">
                    {{> image src='about3.jpg' }}
                    <div class="about-item-text">
                        <p>Не обязательно делать фотосессию в студии — мы с удовольствием оформим локацию в саду и
                            проведем для твоей семьи Unicorn photoStory с белой пони и волшебными нарядами. Только скажи!
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-item6">
                <div class="about-item-content">
                    {{> image src='about4.jpg' }}
                    <div class="about-item-text">
                        <p>
                            Небольшая история Желтого кролика: мы открылись в 2013 году. Недалеко
                            от метро Черниговская появилась ""студийка"" — 45 квадратных метров,
                            ноль окон, сделанный своими руками ремонт, смелость и огромное желание
                            подарить радость каждому, кто заглянет к нам в объектив. В первый год
                            (прежде чем полноценно выйти на ""рынок"") мы перефотографировали всех
                            родственников, друзей и знакомых. С каждым годом ставим всё более высокую
                            планку и стараемся прыгнуть выше головы.
                            Спустя 6 лет развития, роста, тысяч фотосессий, десятков фотопроектов,
                            мы приглашаем тебя в гости к большой Rabbit фемили: 5 просторных залов,
                            большая гримерная, костюмерная с нарядами для малышей и взрослых. И, самое
                            важное, команда — профессионалы с любовью к делу, окружающим и себе.
                            В Желтом кролике ты всегда желанный гость. С нами комфортно, тепло и на
                            100% красиво! Велкам :)"
                        </p>
                    </div>
                </div>
            </div>
        </div>

       <div class="about-slider-controls desktop-none">
          <div class="about-prev"> {{> image src='onmap-arrow.svg' }}</div>
          <div class="about-next"> {{> image src='onmap-arrow.svg' }}</div>
       </div>
    </div>
</section>