.family-photo{
  height: 100%;
}
.family-photo-head{
  display: flex;
  padding: 70px 40px 25px;
  border-bottom: 2px solid #333333;
  height: 25%;
}
.family-photo-head h2 {
  font-size: 70px;
  letter-spacing: 3px;
}
.family-photo-slide{
  height: 75%;
  overflow: hidden;
}
.family-photo-list {
  height: 100%;
  display: flex;
  transform: translateX(0px);
  transition: .4s;
}
.family-photo-list li{
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
}
.family-photo-list img {
  height: 100%;
  padding: 30px ;
}

@media all and (max-width: 1700px){
  .family-photo-head h2 {
    font-size: 50px;
  }
  .family-photo-head{
    padding: 40px 30px 25px;
  }
}