<main>
    <section class="container">
        <div class="family-photo">
            <div class="family-photo-head">
                <h2>семейная фотосессия</h2>
            </div>
            <div class="family-photo-slide">
                <ul class="family-photo-list">
                    <li>
                        {{> image src='family.png' }}
                    </li>
                    <li>
                        {{> image src='family(1).png' }}
                    </li>
                    <li>
                        {{> image src='family(2).png' }}
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>