.family-photo{
  height: 100%;
  margin-top: 65px;
}
.family-photo-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 40px 25px;
  border-bottom: 2px solid #333333;
  height: 25%;
}
.family-photo-head h2 {
  font-size: 70px;
  letter-spacing: 3px;
}
.family-photo-slide{
  height: 75%;
  overflow: hidden;
}
.family-photo-slider-bar{
  margin: 0 125px 0 50px;
  position: relative;
}
.family-photo-list {
  height: calc(100% - 5px);
  width: max-content;
  display: flex;
  transform: translateX(0px);
  transition: .3s linear;
}
.family-photo-list li{
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
}
.family-photo-list img {
  height: 100%;
  padding: 30px ;
}

@media all and (max-width: 1700px){
  .family-photo-head h2 {
    font-size: 50px;
  }
  .family-photo-head{
    padding: 40px 30px 25px;
  }
}


.ui-slider-horizontal{
  width: 205px;
  height: 2px;
  background: #C3C3C3;
}
.ui-slider-horizontal:after{
  position: absolute;
  content: '';
  width: 75px;
  height: 2px;
  background: #C3C3C3;
  left: 100%;
}
.ui-slider .ui-slider-handle{
  width: 75px;
  height: 5px;
  border-top: 2px solid #141201;
  cursor: pointer;
  top: 0;
  margin-left: 0;
  &:after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background: #FED731 ;
    border: 2px solid #141201;
    border-radius: 100%;
    top: -9px;
    left: 29px;
  }
  &:focus{
    outline: none;
  }
}

.family-slide-prev, .family-slide-next{
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  cursor: pointer;
}
.family-slide-prev {
  top: -5px;
  left: -20px;
  transform: rotate(-45deg);
}
.family-slide-next {
  top: -5px;
  right: -95px;
  transform: rotate(135deg);
}


.family-popup{
  &-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0,0.8);
    z-index: 20;
    top: 0;
    left: 0;
    display: none;
  }
  &-close{
    position: relative;
    height: 50px;
    cursor: pointer;
    &:before, &:after{
      position: absolute;
      content: '';
      width: 40px;
      height: 5px;
      background: white;
      right: 100px;
      top: 20px;
      transform: rotate(45deg);
      border-radius: 2px;
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
  &-prev, &-next{
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    left: 20px;
    top: 50%;
    transform: rotate(45deg);
  }
  &-next{
    left: auto;
    right: 50px;
    transform: rotate(-135deg);
  }
}
#familyPopup{
  width: 70%;
  margin: 0 auto;
}
@media all and (max-width: 450px){
  .family-photo-head h2 {
    font-size: 18px;
  }
  .family-photo-head{
    padding: 0 20px 10px;
    height: 10%;
  }
  .family-photo-slide{
    height: 245px;
    overflow-x: scroll;
  }
  .family-photo-list img {
    padding: 20px;
  }
  .family-photo-list li {
    border-right: 1px solid #333;
    border-left: 1px solid #333;
  }
}