<section class="container">
    <div class="family-photo" id="family-photo">
        <div class="family-photo-head">
            <h2>семейная фотосессия</h2>
            <div class="family-photo-slider-bar mobile-none">
                <div class="family-slide-prev"></div>
                <div id="family-slide"></div>
                <div class="family-slide-next"></div>
            </div>
        </div>
        <div class="family-photo-slide">
            <ul class="family-photo-list">
                <li>
                    {{> image src='family.png' }}
                </li>
                <li>
                    {{> image src='family(1).png' }}
                </li>
                <li>
                    {{> image src='family(2).png' }}
                </li>
                <li>
                    {{> image src='family(1).png' }}
                </li>
                <li>
                    {{> image src='family.png' }}
                </li>
                <li>
                    {{> image src='family(2).png' }}
                </li>
            </ul>
        </div>
    </div>
</section>
