<section class="container">
    <div class="family-photo" id="family-photo">
        <div class="family-photo-head">
            <h2>семейная фотосессия</h2>
            <div class="family-photo-slider-bar mobile-none">
                <div class="family-slide-prev"></div>
                <div id="family-slide"></div>
                <div class="family-slide-next"></div>
            </div>
        </div>
        <div class="family-photo-slide">
            <ul class="family-photo-list">
                <li>
                    {{> image src='1000х6001.jpg' }}
                </li>
                <li>
                    {{> image src='1000х6002.jpg' }}
                </li>
                <li>
                    {{> image src='1000х6003.jpg' }}
                </li>
                <li>
                    {{> image src='1000х6004.jpg' }}
                </li>
                <li>
                    {{> image src='1000х6005.jpg' }}
                </li>
                <li>
                    {{> image src='1000х6006.jpg' }}
                </li>
            </ul>
        </div>
    </div>
</section>
