.mobile-menu{
  width: 24px;
  height: 24px;
  position: relative;
  transition: .4s;
  &-open{

    .menu-trigger{
      border: 1px solid #333333 ;
      border-radius: 100%;
      width: 48px;
      height: 48px;
      background: #FED731;
      right: 0;
      top: 10px;
      &:before{
        width: 20px;
        top: 14px;
        right: 16px;
        transform: rotate(-45deg);
      }
      &:after{
        width: 20px;
        bottom: 15px;
        right: 16px;
        transform: rotate(45deg);
      }
    }
    .menu-body{
      transform: scale(1);
    }
  }
}
.menu-trigger{
  background: #333333;
  border: 0 solid #f4f4f4;
  width: 20px;
  height: 3px;
  border-radius:0;
  position: absolute;
  right: 0;
  top: 10px;
  transition: .4s;
  z-index: 10;
  &:before, &:after{
    position: absolute;
    content: '';
    height: 3px;
    background: #333333;
    right: 0;
    transform-origin: right;
    transition: .4s;
  }
  &:before{
    top: -7px;
    width: 10px;
  }
  &:after{
    bottom: -7px;
    width: 15px;
  }
}
.menu {
  &-body {
    position: absolute;
    height: calc(100vh - 50px);
    width: 100vw;
    right: -20px;
    top: 35px;
    background: #f4f4f4;
    transform: scale(0);
    transform-origin: right top;
    transition: .4s;
  }
  &-list{
    margin:0 30px 0;
    text-align: center;
    border: 2px solid #333333;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 80vh;
    &-item{
      padding: 10px 0;
      &:nth-last-child(2){
        padding: 0;
        margin-bottom: -10px;
      }
      a {
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        color: #000000;
      }
    }
  }
}

.appointment-form{
  padding: 10px 0;
}

@media all and (max-width: 450px) {
  .border-wrapper-call{
    height: 40px;
    border-left: none;
    border-right: none;
  }
  .border-wrapper-photo{
    background: #FED731;
    color: #141201;
    font-size: 14px;
    height: 40px;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  .border-wrapper-appointment{
    width: 102%;
    bottom: 98%;
    height: 75vh;
  }
  .appointment-form-submit input {
    height: 40px;
    outline: 2px solid black;
    border: none;
    border-radius: 0;
  }
  .appointment-form{
    flex-direction: column;
    &-right{
      flex-direction: column;
      align-items: center;
      padding: 0;
      height: 200px;
      textarea {
        width: 85%;
        margin: 5px auto;
      }
    }
    &-left{
      padding-top: 30px;
      label {
        margin: 0 10px 30px;
      }
    }
  }
  .requestCall input[name=phone]{
    padding: 0 5px 0 10px;
    height: 40px;
    margin: 5px 25px 0 5px;
    width: 170px;
  }
  .menu-list-item:last-child {
    padding: 0;
  }
  .family-photo-slide:after, .family-photo-slide:before {
    content: none;
  }
}