<nav class="mobile-menu mobile-menu-open desktop-none">
   <div class="menu-trigger "></div>
   <div class="menu-body">
      <ul class="menu-list">
         <li class="menu-list-item">
            <a href="">главная</a>
         </li>
         <li class="menu-list-item">
            <a href="">наши услуги</a>
         </li>
         <li class="menu-list-item">
            <a href="">наши тарифы</a>
         </li>
         <li class="menu-list-item">
            <a href="">немного о нас</a>
         </li>
         <li class="menu-list-item">
            <a href="">что о нас говорят клиенты</a>
         </li>
         <li class="menu-list-item">
            <a href="">ответы на вопросы </a>
         </li>
         <li class="menu-list-item">
            <a href="">мы на карте</a>
         </li>
      </ul>
   </div>
</nav>