<nav class="mobile-menu desktop-none">
   <div class="menu-trigger "></div>
   <div class="menu-body">
      <ul class="menu-list">
         <li class="menu-list-item">
            <a href="#family-photo">главная</a>
         </li>
         <li class="menu-list-item">
            <a href="#services">наши услуги</a>
         </li>
         <li class="menu-list-item">
            <a href="#tariffs">наши тарифы</a>
         </li>
         <li class="menu-list-item">
            <a href="#about">немного о нас</a>
         </li>
         <li class="menu-list-item">
            <a href="#speak">что о нас говорят клиенты</a>
         </li>
         <li class="menu-list-item">
            <a href="#answers">ответы на вопросы </a>
         </li>
         <li class="menu-list-item">
            <a href="#onmap">мы на карте</a>
         </li>
         <li class="menu-list-item">
            <a href="tel:+380635252525">+380 93 21 72 513</a>
         </li>
      </ul>
   </div>
</nav>