.mobile-menu{
  width: 24px;
  height: 24px;
  position: relative;
  transition: .4s;
  &-open{

    .menu-trigger{
      border: 1px solid #333333 ;
      border-radius: 100%;
      width: 48px;
      height: 48px;
      background: #FED731;
      right: 0;
      top: 10px;
      &:before{
        width: 20px;
        top: 14px;
        right: 16px;
        transform: rotate(-45deg);
      }
      &:after{
        width: 20px;
        bottom: 15px;
        right: 16px;
        transform: rotate(45deg);
      }
    }
    .menu-body{
      transform: scale(1);
    }
  }
}
.menu-trigger{
  background: #333333;
  border: 0 solid #f4f4f4;
  width: 20px;
  height: 3px;
  border-radius:0;
  position: absolute;
  right: 0;
  top: 10px;
  transition: .4s;
  z-index: 10;
  &:before, &:after{
    position: absolute;
    content: '';
    height: 3px;
    background: #333333;
    right: 0;
    transform-origin: right;
    transition: .4s;
  }
  &:before{
    top: -7px;
    width: 10px;
  }
  &:after{
    bottom: -7px;
    width: 15px;
  }
}
.menu {
  &-body {
    position: absolute;
    height: calc(100vh - 50px);
    width: 100vw;
    right: -20px;
    top: 35px;
    background: #f4f4f4;
    transform: scale(0);
    transform-origin: right top;
    transition: .4s;
  }
  &-list{
    margin:0 30px 0;
    text-align: center;
    border: 2px solid #333333;
    &-item{
      padding: 13px 0;
      a {
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        color: #000000;
      }
    }
  }
}