
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat-Regular, sans-serif;
  background: $background;
  color: #000000;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
ul {
  padding: 0;margin: 0;
  list-style-type: none;
}
p {padding: 0;margin: 0;}
h2 {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: Montserrat-Extra-Bold, sans-serif;
  text-transform: uppercase;
  margin: 0;
}
main {
  transition: .4s;
}
a {
 text-decoration: none;
  color: #000000;
}
.container {
 // margin: 65px 90px ;
  margin: 0 90px ;
  height: calc(100vh - 130px);
}
.container-big {
  overflow-y: scroll;
  &::-webkit-scrollbar-track  {
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar  {
    width: 8px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb  {
    border-radius: 10px;
    background-color: #555;
  }
}
.container-point{
  margin: 0;padding: 0;
  height: 0;width: 0;
}

@media all and (min-width: 451px){
  .desktop-none {
    display: none!important;
  }
  .container-big-auto{
    height: auto;
    min-height: calc(100vh - 130px);
  }
}
@media all and (max-width: 450px){
  .mobile-none {
    display: none!important;
  }
  .container{
    margin: 20px 0;
    height: calc(100vh - 50px);
  }
  .container-big {

  }
  .container-auto {
    height: auto;
  }
  h2 {
    font-size: 20px;
    letter-spacing: 1px;
  }
}