//@font-face {
//  font-family: 'Montserrat-Regular';
//  src: local('Montserrat-Regular.ttf'), url('~fonts/Montserrat-Regular.ttf') format('ttf'), url('~fonts/Robotolight.woff') format('woff'), url('~fonts/Robotolight.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('~fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat-Extra-Bold';
  src: url('~fonts/Montserrat-ExtraBold.ttf');
}



