<section class="container container-big-auto container-auto">
    <div class="speak" id="speak">
        <div class="speak-head">
            <h2>что о нас говорят клиенты</h2>
        </div>
        <div class="speak-body">
            <div class="speak-body-item">
                <div class="speak-item-img">
                    {{> image src='740х420 пикс_отзыв_1.jpg' }}
                </div>
                <div class="speak-item-text">
                    <p class="speak-item-testimonial">
                        Фотографировались с дочками несколько раз — в разных залах,
                        платьях из костюмерной фотостудии, с услугами визажистов.
                        Все просто супер, фотки волшебные, настроение тоже)))
                    </p>
                    <p class="speak-item-autor">
                        <a href="https://www.facebook.com/profile.php?id=100008999163886" target="_blank">
                        {{> image src='facebook-link.svg' }}
                        Ксения Кошевая <span></span>
                    </a>
                    </p>
                </div>
            </div>
            <div class="speak-body-item speak-body-item-reverse">
                <div class="speak-item-img">
                    {{> image src='740х420 пикс_отзыв_2.jpg' }}
                </div>
                <div class="speak-item-text">
                    <p class="speak-item-testimonial">
                        Спасибо команде фотостудии за прекрасные фотографии и настроение!
                        Результат превзошел наши ожидания.
                        Фотографировались в Новом и Светлом залах, оба очень понравились,
                        готовые фото получили на пару дней раньше обговоренного срока))
                        Обязательно вернемся за новыми яркими фоторгафиями.
                    </p>
                    <p class="speak-item-autor">
                        <a href="https://www.facebook.com/alejandra.mikhailovskaya" target="_blank">
                        {{> image src='facebook-link.svg' }}
                            Александра Щукина <span></span>
                    </a>
                    </p>
                </div>
            </div>
            <div class="container container-point mobile-none"></div>
            <div class="speak-body-item">
                <div class="speak-item-img">
                    {{> image src='740х420 пикс_отзыв_3.jpg' }}
                </div>
                <div class="speak-item-text">
                    <p class="speak-item-testimonial">
                        Дууууже сподобалась фотосесія, дякуємо!!! Ми були у двох залах: Світлому та Темному,
                        обидва шикарні!!! Фотографії 👍😍😍😍супер!
                        Фото надіслали вчасно, тому чекати довго не довелося 😉 насолоджуюся знімками.... ДЯКУЄМО!!!
                    </p>
                    <p class="speak-item-autor">
                        <a href="https://www.facebook.com/profile.php?id=100012908773385" target="_blank">
                            {{> image src='facebook-link.svg' }}
                            Юлия Гирчук <span></span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="speak-body-item speak-body-item-reverse">
                <div class="speak-item-img">
                    {{> image src='740х420 пикс_отзыв_2.jpg' }}
                </div>
                <div class="speak-item-text">
                    <p class="speak-item-testimonial">
                        Спасибо команде фотостудии за прекрасные фотографии и настроение!
                        Результат превзошел наши ожидания.
                        Фотографировались в Новом и Светлом залах, оба очень понравились,
                        готовые фото получили на пару дней раньше обговоренного срока))
                        Обязательно вернемся за новыми яркими фоторгафиями.
                    </p>
                    <p class="speak-item-autor">
                        <a href="https://www.facebook.com/alejandra.mikhailovskaya" target="_blank">
                            {{> image src='facebook-link.svg' }}
                            Александра Щукина <span></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

       <div class="speak-slider-controls desktop-none">
          <div class="speak-prev"> {{> image src='onmap-arrow.svg' }}</div>
          <div class="speak-next"> {{> image src='onmap-arrow.svg' }}</div>
       </div>
    </div>
</section>