.speak{

 // border-bottom: 2px solid #333333;
  overflow: hidden;
  &-head {
    padding: 25px 35px ;
    border-bottom: 2px solid #333333;
    border-top: 1px solid #333;
  }
  &-body{
    &-item{
      display: flex;
      transition: .3s;
      &:hover{
        background: #fed731;
        .speak-item-text{
          img {
            background: $background;
            padding:5px 8px;
          }
          & .speak-item-testimonial{
            &:before{
              content: url("~images/opostrof.svg");
            }
          }
        }

      }
    }
  }
  &-item-img{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    img {
      width: 100%;
    }
  }
  &-item-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 0 10px 0 110px;

    & .speak-item-testimonial{
      font-size: 24px;
      color: #7e7e7e;
      margin:  0 0 30px 0;
      position: relative;
      z-index: 5;
      &:before{
        position: absolute;
        content: url("~images/opostrof-yellow.svg");
        top: -80px;
        left: -80px;
        border-radius: 100%;
        z-index: -1;
      }

    }
    & .speak-item-autor{
      font-size: 24px;
      text-transform: capitalize;
      align-self: flex-start;
      span {
        color: #a3a3a3;
      }
      img {
        background: #fed731;
        margin: 0 5px -4px 0;
        padding:5px 8px;
      }
    }
  }
}
.speak-body-item-reverse{
  flex-direction: row-reverse;

  & .speak-item-testimonial{
    font-size: 24px;
    color: #7e7e7e;
    margin:  0 0 30px 0;
    position: relative;
    z-index: 5;
  }
  & .speak-item-img{
    border-right: none;
    border-left: 2px solid black;
  }
}

.speak-slider-controls{
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}
.speak-next, .services-prev{
  height: 16px;
  cursor: pointer;
  z-index: 5;
}
.speak-next{
  transform: rotate(180deg);
}

@media all and  (max-width: 1700px){
  .speak-head {
    padding: 10px 35px;
  }
  .speak-item-text .speak-item-testimonial{
    font-size: 18px;
    &:before{
      transform: scale(0.6);
      top: -65px;
      left: -70px;
    }
  }
  .speak-item-img img{
    width: 420px;
  }
}
@media all and  (max-width: 450px){
  .speak-head{
    padding: 5px 20px;
    border-top: 2px solid #333;
    border-bottom: none;
  }
  .speak-body-item {
    flex-direction: column;
    padding: 0 20px;
  }
  .speak-item-img {
    padding: 5px;
    border: none!important;
    img {
      width: 100%;
    }
  }
  .speak-item-text{
    padding: 0 20px;
    border: none!important;
    .speak-item{
      &-testimonial{
        font-size: 18px;
        &:before{
          content: none;
        }
      }
      &-autor {
        font-size: 20px;
        img{
          margin: 0 10px -4px 0;
          display: inline;
        }
      }
    }
  }
}