<section class="container container-big">
    <div class="speak">
        <div class="speak-head">
            <h2>что о нас говорят клиенты</h2>
        </div>
        <div class="speak-body">
            <div class="speak-body-item">
                <div class="speak-item-img">
                    {{> image src='autor.png' }}
                </div>
                <div class="speak-item-text">
                    <p class="speak-item-testimonial">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolorem doloribus eos nobis, porro voluptas voluptatem voluptates voluptatibus! Aliquam delectus enim mollitia natus suscipit. Deleniti doloribus explicabo laudantium placeat quis.</p>
                    <p class="speak-item-autor">{{> image src='testimon.svg' }}laura adams, <span>Dior model</span></p>
                </div>
            </div>
            <div class="speak-body-item speak-body-item-reverse">
                <div class="speak-item-img">
                    {{> image src='autor.png' }}
                </div>
                <div class="speak-item-text">
                    <p class="speak-item-testimonial">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolorem doloribus eos nobis, porro voluptas voluptatem voluptates voluptatibus! Aliquam delectus enim mollitia natus suscipit. Deleniti doloribus explicabo laudantium placeat quis.</p>
                    <p class="speak-item-autor">{{> image src='testimon-white.svg' }}laura adams, <span>Dior model</span></p>
                </div>
            </div>
            <div class="speak-body-item">
                <div class="speak-item-img">
                    {{> image src='autor.png' }}
                </div>
                <div class="speak-item-text">
                    <p class="speak-item-testimonial">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolorem doloribus eos nobis, porro voluptas voluptatem voluptates voluptatibus! Aliquam delectus enim mollitia natus suscipit. Deleniti doloribus explicabo laudantium placeat quis.</p>
                    <p class="speak-item-autor">{{> image src='testimon.svg' }}laura adams, <span>Dior model</span></p>
                </div>
            </div>
        </div>
    </div>
</section>