.answers {

  &-head{
    padding: 25px 35px 0;
    border-top: 1px solid #141201;
  }
  &-body{

    display: grid;
    grid-template-columns: 1fr 1fr ;

    &-item{

      margin: 0 50px ;
      h3 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
      }

    }
    &-question{
      border-top: 2px solid #999999;
      padding: 10px 5px 0 15px;
      transition: .3s linear;
      &:last-child {
        border-bottom: 2px solid #999999;
      }
      h4 {
        color:  #999999;
        font-size: 18px;
        margin: 0 20px 10px 0;
        position: relative;
        &:before, &:after{
          position: absolute;
          content: '';
          left: 100%;
          top: 10px;
          width: 20px;
          height: 2px;
          background: #141201;
        }
        &:after{
          transform: rotate(90deg);
          transition: .3s;
        }
      }
      p {
        color:  #999999;
        font-size: 15px;
        padding:0 20% 0 0;
        overflow: hidden;
        max-height: 0;
        transition: .3s linear;
        transform-origin: top;
      }
    }
  }
}

.active-question{
  background: #FED731;
  color: #141201;
  h4{
    color: #141201;
    &:after{
      transform: rotate(0);
    }
  }
  p {
    padding:10px 20% 20px 0;
    color: #141201;
    max-height: 150px;
  }
}
.left-question{
  grid-column: 1 / 1;
  grid-row: 1 / 4;
}

@media all and (max-width: 450px) {
  .answers-head {
    padding: 20px 20px 0;
  }
  .answers-body {
    display: flex;
    flex-direction: column;
    &-item{
      margin: 20px;
      h3 {
        margin: 0 0 20px;
      }
    }
    &-question h4 {
      padding-right: 20px;
    }
  }
  .active-question {
    p{
      max-height: 500px;
    }
  }
  .answers-body-question h4:after, .answers-body-question h4:before{
    top: 50%;
  }
}