<section class="container container-auto">
    <div class="answers" id="answers">
        <div class="answers-head">
            <h2>ответы на вопросы</h2>
        </div>
        <div class="answers-body">
            <div class="answers-body-item left-question">
                <h3>финансовые вопросы</h3>
                <div class="answers-body-question">
                    <h4>Сколько стоит фотосьемка?</h4>
                    <p class="answers-body-answer">
                        Цена будет зависеть от выбранного тарифа в диапазоне 50000 - 200000 грн.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Сколько стоит видеосьемка?</h4>
                    <p class="answers-body-answer">
                        Цена будет зависеть от выбранного тарифа в диапазоне 10 - 50 грн.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Какие у вас есть тарифы?</h4>
                    <p class="answers-body-answer">
                        Фото с мобильного на аватарку - 40грн.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Сколько фотографов у вас есть?</h4>
                    <p class="answers-body-answer">
                        Два с половиной
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Зачем нужны фотографы?</h4>
                    <p class="answers-body-answer">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita labore nihil soluta voluptatum? Accusantium aperiam consectetur ducimus eligendi, excepturi hic, id iste minus non nulla quos reiciendis, reprehenderit rerum vitae.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Как к вам добратся?</h4>
                    <p class="answers-body-answer">
                        прямо и на лево
                    </p>
                </div>
            </div>

            <div class="answers-body-item">
                <h3>организация фотосъемки</h3>
                <div class="answers-body-question">
                    <h4>Сколько стоит фотосьемка?</h4>
                    <p class="answers-body-answer">
                        Цена будет зависеть от выбранного тарифа в диапазоне 50000 - 200000 грн.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Какие у вас есть тарифы?</h4>
                    <p class="answers-body-answer">
                        Фото с мобильного на аватарку - 40грн.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Сколько фотографов у вас есть?</h4>
                    <p class="answers-body-answer">
                        Два с половиной
                    </p>
                </div>
            </div>

            <div class="answers-body-item">
                <h3>другие вопросы</h3>
                <div class="answers-body-question">
                    <h4>Сколько стоит фотосьемка?</h4>
                    <p class="answers-body-answer">
                        Цена будет зависеть от выбранного тарифа в диапазоне 50000 - 200000 грн.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Какие у вас есть тарифы?</h4>
                    <p class="answers-body-answer">
                        Фото с мобильного на аватарку - 40грн.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Сколько фотографов у вас есть?</h4>
                    <p class="answers-body-answer">
                        Два с половиной
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>