<section class="container container-big container-auto">
    <div class="answers" id="answers">
        <div class="answers-head">
            <h2>ответы на вопросы</h2>
        </div>
        <div class="answers-body">
            <div class="answers-body-item left-question">
                <h3>общие вопросы</h3>
                <div class="answers-body-question">
                    <h4>Сколько залов можно выбрать для фотосессии?</h4>
                    <p class="answers-body-answer">
                        Количество залов зависит от продолжительности съемки.
                        Фотосессия 1 час проводится в 1 зале, полтора часа — в 2 залах, 2 часа — в 3 залах.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Сколько времени нужно на макияж и прическу?</h4>
                    <p class="answers-body-answer">
                        На макияж нужно 1 час, на макияж с прической — полтора часа.
                        Это время в саму фотосессию не входит, а выделяется дополнительно перед съемкой.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Сколько раз можно переодеться на фотосессии?</h4>
                    <p class="answers-body-answer">
                        На 1 образ одежды уходит в среднем 30 минут.
                        Так что на фотосессию 1 час стоит подхотовить 2 наряда, на съемку 2 часа — 4 наряда.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Где можно переодеться во время фотосессии (или перед ней)?</h4>
                    <p class="answers-body-answer">
                        Можно приехать за 15-20 минут до фотосессии, чтобы подготовиться и переодеться в комфортной гримерной.
                        Во время съемки все переодевания проходят в зале, чтобы не тратить время на переходы по коридорам.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Можно приехать на фотосессию со своим домашним животным?</h4>
                    <p class="answers-body-answer">
                        Можно, но по предварительному согласованию с менеджером студии. Просто сообщите об особенном участнике съемки при заказе :)
                        В таком случае мы оставим немного свободного времени для дополнительного проветривания зала.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Тепло ли у вас в студии?</h4>
                    <p class="answers-body-answer">
                        Да, в студии всегда поддерживается комфортная температура.
                        В каждом зале есть кондиционер для жаркого сезона и отопление для холодного.
                        А зал для самых маленьких гостей снабжен теплым полом.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>У вас есть животные для фотосессии?</h4>
                    <p class="answers-body-answer">
                        Мы проводим фотосессии с кроликами, хаски, самоедами и лисичкой.
                        Такую съемку лучше всего заказывать за 2-3 недели до желаемой даты съемки,
                        чтобы все модели смогли собраться в нужный день, нужное время и в нужном месте :)
                    </p>
                </div>
            </div>

            <div class="answers-body-item">
                <h3> Организационные вопросы</h3>
                <div class="answers-body-question">
                    <h4>Сколько человек может присутствовать на фотосессии?</h4>
                    <p class="answers-body-answer">
                        Стандартное количество — до 5 человек.
                        Если же у вас большая семья или компания друзей, наши менеджеры
                        сформируют индивидуальный пакет услуг и стоимость.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Как выбрать платье из вашей костюмерной?</h4>
                    <p class="answers-body-answer">
                        Выбрать платье поможет стилист, фотограф или администратор студии.
                        Вы можете записаться на примерку в любой день, либо же приехать заранее в
                        день фотосессии и выбрать платье прямо перед съемкой. Обязательно уточните
                        эту информацию при заказе фотосессии.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Каким образом и в каком формате я получу готовые фотографии после фотосессии?</h4>
                    <p class="answers-body-answer">
                        В течение указанного срока мы обработаем фото в формате JPG,
                        загрузим их архивом на Google Drive и пришлем ссылку для
                        скачивания на ваш электронный адрес.
                    </p>
                </div>
                <!--<div class="answers-body-question">-->
                    <!--<h4>Можно ли подарить фотосессию?</h4>-->
                    <!--<p class="answers-body-answer">-->
                        <!--Да, вы можете заказать подарочный сертификат с любым пакетом фотоуслуг и подарить его.-->
                        <!--Срок действия сертификата — 6 месяцев с даты покупки.-->
                        <!--Внешний вид подарка — особенный: желтый кролик высотой 25 сантиметров в ярком пакете.-->
                        <!--Кстати, это универсальный презент на любой праздник.-->
                    <!--</p>-->
                <!--</div>-->
            </div>

            <div class="answers-body-item">
                <h3>другие вопросы</h3>
                <div class="answers-body-question">
                    <h4>У вас есть платья для беременных?</h4>
                    <p class="answers-body-answer">
                        Да, в нашей костюмерной более 10 платьев, которые подходят для девушек в ожидании чуда.
                        Лучше всего записаться на предварительную примерку и выбрать платье заранее.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>У вас есть место, где я смогу покормить грудничка?</h4>
                    <p class="answers-body-answer">
                        У нас много помещений, мы обязательно найдем свободное, чтобы вы в комфорте покормили малыша.
                        Также в студии есть холодильник и мокроволновая печь, если нужно будет охладить
                        или разогреть продукты.
                    </p>
                </div>
                <div class="answers-body-question">
                    <h4>Я не умею позировать. Что делать?</h4>
                    <p class="answers-body-answer">
                        Точно не стоит переживать :) Наш фотограф подскажет как правильно
                        сесть/лечь/стать, какой стороной повернуться и тд.
                        Большинство семей приходят на фотосессию впервые и тоже не умеют
                        позировать. Так что это не беда, мы поможем!
                    </p>
                </div>
                <!--<div class="answers-body-question">-->
                    <!--<h4>Умеет ли фотограф находить общий язык с детьми?</h4>-->
                    <!--<p class="answers-body-answer">-->
                        <!--Все наши фотографы — девушки с большим опытом работы с детками и семьями.-->
                        <!--Да, они умеют находить общий язык, отвлекать и увлекать малышей в процесс съемки.-->
                        <!--У каждой наработаны фишки для проведения комфортной съемки.-->
                    <!--</p>-->
                <!--</div>-->
            </div>

        </div>
    </div>
</section>