<section class="container">
    <div class="onmap" id="onmap">
        <div class="onmap-head">
            <h2>мы на карте</h2>
        </div>
        <div class="onmap-body">
            <div id="map"></div>
        </div>
        <div class="onmap-slider">

            <div class="onmap-slider-body" id="onmap-init-slider">
                <div class="onmap-slider-item">
                    <h3>Контактная информация</h3>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                                Адрес:
                        </span>
                        <span class="onmap-text-right">
                            улица Павла Усенка 8
                        </span>
                    </div>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                                Телефон:
                        </span>
                        <span class="onmap-text-right">
                                +380 66 525 25 25
                        </span>
                    </div>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                                Почта:
                        </span>
                        <span class="onmap-text-right">
                                fotorabbit@gmail.com
                        </span>
                    </div>
                </div>

                <div class="onmap-slider-item">
                    <h3> метро дарница</h3>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                             {{> image src='gazel.svg' }}
                                маршрутка <span class="bold">№423</span>
                        </span>
                        <span class="onmap-text-right">
                            {{> image src='watch.svg' }}
                            15 мин
                        </span>
                    </div>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                            {{> image src='train.svg' }}
                                трамвай <span class="bold">№22,23</span>
                        </span>
                        <span class="onmap-text-right">
                            {{> image src='watch.svg' }}
                            22 мин
                        </span>
                    </div>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                            {{> image src='taxi.svg' }}
                                такси <span class="bold">45-60&#8372;</span>
                        </span>
                        <span class="onmap-text-right">
                            {{> image src='watch.svg' }}
                            7 мин
                        </span>
                    </div>
                </div>
                <div class="onmap-slider-item">
                    <h3> метро черниговская</h3>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                             {{> image src='gazel.svg' }}
                            маршрутка <span class="bold">№423</span>
                        </span>
                        <span class="onmap-text-right">
                            {{> image src='watch.svg' }}
                            15 мин
                        </span>
                    </div>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                            {{> image src='train.svg' }}
                            трамвай <span class="bold">№22,23</span>
                        </span>
                        <span class="onmap-text-right">
                            {{> image src='watch.svg' }}
                            22 мин
                        </span>
                    </div>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                            {{> image src='taxi.svg' }}
                            такси <span class="bold">45-60&#8372;</span>
                        </span>
                        <span class="onmap-text-right">
                            {{> image src='watch.svg' }}
                            7 мин
                        </span>
                    </div>
                </div>
                <div class="onmap-slider-item">
                    <h3> метро левобережная</h3>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                             {{> image src='gazel.svg' }}
                            маршрутка <span class="bold">№423</span>
                        </span>
                        <span class="onmap-text-right">
                            {{> image src='watch.svg' }}
                            15 мин
                        </span>
                    </div>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                            {{> image src='train.svg' }}
                            трамвай <span class="bold">№22,23</span>
                        </span>
                        <span class="onmap-text-right">
                            {{> image src='watch.svg' }}
                            22 мин
                        </span>
                    </div>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                            {{> image src='taxi.svg' }}
                            такси <span class="bold">45-60&#8372;</span>
                        </span>
                        <span class="onmap-text-right">
                            {{> image src='watch.svg' }}
                            7 мин
                        </span>
                    </div>
                </div>


            </div>

            <div class="onmap-slider-controls">
                <div class="onmap-prev"> {{> image src='onmap-arrow.svg' }}</div>
                <div class="onmap-next"> {{> image src='onmap-arrow.svg' }}</div>
            </div>

        </div>
    </div>
</section>