
.onmap{
  height: 100%;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  overflow: hidden;
  position: relative;
  &-head{
    position: absolute;
    padding: 35px 35px 0;
  }
  &-body{
    width: 100%;
    height: 100%;
  }
  &-slider{
    position: absolute;
    top: 150px;
    left: 100px;
    border: 2px solid black;
    width: 400px;
    background: #F4F4F4;
    z-index: 3;
    h3{
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
      margin: 40px 0;
    }
    &-controls{
      margin-top: 30px;
      height: 40px;
      border-top: 2px solid black;
      display: flex;
      align-items: center;
      padding: 0 20px;
      justify-content: space-between;
    }
  }
  &-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:10px 40px;
    span {
      font-size: 15px;
      font-weight: 600;
      color: #333333;
      img {
        display: initial;
        padding: 0 10px;
      }
      .bold{
        font-family: Montserrat-Extra-Bold,sans-serif;
      }
    }
  }
}
#map {
  height: 100%;
}
.onmap-next, .onmap-prev{
  height: 16px;
  cursor: pointer;
  z-index: 5;
}
.onmap-next{
  transform: rotate(180deg);
}
.onmap-enter{
  width: 100%;
}
.slick-dots {
  bottom: -65px;
  li {
    button{
      &:before{
        content: '';
        width: 7px;
        height: 7px;
        background: #F4F4F4;
        border: 2px solid #141201;
        border-radius: 100%;
      }
    }
  }
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  background: #FED731;
}

@media all and (max-width: 1500px){
  .onmap-slider{
    top: 10px;
  }
  .slick-dotted.slick-slider, .onmap-slider-controls {
    margin: 0;
  }
  .slick-dots {
    bottom: -35px;
  }
  .onmap-head{
    display: none;
  }
}
@media all and (max-width: 450px){
  .onmap-head{
    display: block;
    padding: 20px;
    position: static;
  }
  .onmap-slider{
    position: static;
    top: 50px;
    left: 0;
    width: 100%;
  }
  .onmap-body{
    height: 500px;
  }
}



