<section class="container">
    <div class="onmap">
        <div class="onmap-head">
            <h2>мы на карте</h2>
        </div>
        <div class="onmap-body">
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d10161.812606233969!2d30.6294305!3d50.4512858!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1555665610137!5m2!1sru!2sua"-->
                    <!--width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        </div>
        <div class="onmap-slider">

            <div class="onmap-slider-body" id="onmap-init-slider">
                <div class="onmap-slider-item">
                    <h3>Контактная информация</h3>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                                Адрес:
                        </span>
                        <span class="onmap-text-right">
                            улица Павла Усенка 8
                        </span>
                    </div>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                                Телефон:
                        </span>
                        <span class="onmap-text-right">
                                +380 66 525 25 25
                        </span>
                    </div>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                                Почта:
                        </span>
                        <span class="onmap-text-right">
                                fotorabbit@gmail.com
                        </span>
                    </div>
                </div>

                <div class="onmap-slider-item">
                    <h3> second slider</h3>
                    <div class="onmap-text">
                        <span class="onmap-text-left">
                                slider2
                        </span>
                        <span class="onmap-text-right">
                            22
                        </span>
                    </div>
                </div>


            </div>

            <div class="onmap-slider-controls">

            </div>

        </div>
    </div>
</section>