<section class="container container-auto">
    <div class="services" id="services">
        <div class="services-head">
            <h2>наши услуги</h2>
        </div>
        <div id="services-tabs" class="services-list">

        <div class="services-list-item services-item-active" >
            <div class="services-item-logo">
                {{> image src='rent-sign.svg' }}
            </div>
            <div class="services-item-text">
                <h3>Профессиональный фотограф</h3>
                <p>Фотографы студии — мастера с опытом более 7 лет. Семейные фотосессии — наш конек :)</p>
            </div>
        </div>
        <div class="services-list-item" >
            <div class="services-item-logo">
                {{> image src='retush.svg' }}
            </div>
            <div class="services-item-text">
                <h3>Аренда залов</h3>
                <p>В студии 5 залов, в каждом находится 3-4 интерьерные локации на любой вкус</p>
            </div>
        </div>
        <div class="services-list-item" >
            <div class="services-item-logo">
                {{> image src='photograf.svg' }}
            </div>
            <div class="services-item-text">
                <h3>Макияж и прическа</h3>
                <p>Стилист поможет создать идеальный образ и подчеркнет естественную красоту</p>
            </div>
        </div>
        <div class="services-list-item" >
            <div class="services-item-logo">
                {{> image src='dress.svg' }}
            </div>
            <div class="services-item-text">
                <h3>Аренда нарядов</h3>
                <p>В костюмерной студии вы найдете более 50 нарядов для взрослых и более 20 для деток</p>
            </div>
        </div>

        </div>
       <div class="services-slider-controls desktop-none">
          <div class="services-prev"> {{> image src='onmap-arrow.svg' }}</div>
          <div class="services-next"> {{> image src='onmap-arrow.svg' }}</div>
       </div>

        <div class="services-img">
            <div  class="services-img-item active-tab">
                {{> image src='serv-image.png' }}
            </div>
            <div  class="services-img-item">
                {{> image src='serv-image.png' }}
            </div>
            <div  class="services-img-item">
                {{> image src='serv-image.png' }}
            </div>
            <div  class="services-img-item">
                {{> image src='serv-image.png' }}
            </div>
        </div>
    </div>
</section>