.services {
  height: 100%;
  border-bottom: 2px solid #333333;
  overflow: hidden;
}
.services-head{
  padding: 35px 35px 0;

}

.services-list{
  display: flex;
  margin: 70px 35px;
}
.services-list-item{
  display: flex;
  margin-right: 130px;
  cursor: pointer;
}
.services-item-text {
  padding: 0 30px;
}
.services-item-text h3{
  color: #C3C3C3;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  width: max-content;
}
.services-item-text p {
  color: #C3C3C3;
  margin: 30px 0;
}
.services-img{

}
.services-img-item img{
  width: 100%;
}
.services-item-active img{
  filter: brightness(0);
}
.services-item-active h3, .services-item-active p {
  color: black;
}

@media all and (max-width: 1700px) {
  .services-list {
    margin: 35px;
  }
  .services-list-item {
    margin-right: 5px;
  }
}