.services {
  height: 100%;
  border-bottom: 2px solid #333333;
}
.services-head{
  padding: 35px;

}
.services-head h2 {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: Montserrat-Extra-Bold, sans-serif;
  text-transform: uppercase;
}

.services-list{
  display: flex;
  margin: 75px 35px;
}
.services-list-item{
  display: flex;
  margin-right: 130px;
}
.services-item-text {
  padding: 0 30px;
}
.services-item-text h3{
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  width: max-content;
}
.services-item-text p {
  margin: 30px 0;
}