.services {
  height: 100%;
}
.services-head{
  padding: 35px;
}
.services-head h2 {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: Montserrat-Extra-Bold, sans-serif;
  text-transform: uppercase;
}