<div class="border-wrapper-top">
    {{> image src='logo.svg' class='logo' alt='yellow rabbit' }}
    {{> mobileMenu/mobileMenu }}
    <div class="header-phone mobile-none">
        <a href="tel:+380669786881">+38 067 978 68 97</a>
    </div>
</div>
<div class="border-wrapper-right mobile-none">
    <ul class="social-icons">
        <li>
            <a href="">
                {{> image src='Twitter Icon.svg'}}
            </a>
        </li>
        <li><a href="">
            {{> image src='Linkedin Icon.svg'}}
        </a></li>
        <li>
            <a href="">
                {{> image src='Google Icon.svg'}}
            </a>
        </li>
        <li>
            <a href="">
                {{> image src='Facebook Icon.svg'}}
            </a>
        </li>
    </ul>
</div>
<div class="border-wrapper-bottom ">
    <div class="border-wrapper-call" id="makeCall">
        <span>Заказать звонок</span>
        <form action="" class="requestCall">
            <input type="text" name="phone" placeholder="+380 XXX XX XX" required>
            <label for="submitPhone" class="callArrow"><input type="submit" value=""  id="submitPhone"></label>
        </form>
    </div>
    <div class="border-wrapper-photo border-wrapper-nonActive" id="makePhoto">
        <span>Записаться на фотосессию</span>
        <div class="border-wrapper-appointment">
            <p>Записаться на сессию</p>
            <form action="" name="appointment" class="appointment-form">
                <div class="appointment-form-left">
                    <label for="name">
                        Имя
                        <input type="text" name="name" id="name" required>
                    </label>
                    <label for="phone">
                        Телефон
                        <input type="text" name="phone" id="phone" required>
                    </label>
                    <label for="mail">
                        Почта
                        <input type="text" name="mail" id="mail" >
                    </label>
                </div>
                <div class="appointment-form-right">
                    <label for="messg">Комментарий</label>
                    <textarea name="messg" id="messg" ></textarea>
                </div>
                <div class="appointment-form-submit">
                    <input type="submit" name="submit">
                </div>
            </form>
            <div class="closePhoto mobile-none"></div>
        </div>

    </div>
</div>
<div class="border-wrapper-left mobile-none">
    <div>
        <a class="scrollUp">
            <div class="scrollArrow">
                <div class="scrollArrowBg"></div>
            </div>
            Вверх
        </a>
    </div>
    <div>
        <ul class="border-page-list">
            <li class="page-active"></li>
        </ul>
    </div>
    <div>
        <a class="scrollDown">
            <div class="scrollArrow">
                <div class="scrollArrowBg"></div>
            </div>
            Вниз
        </a>
    </div>
</div>