<section class="container">
    <div class="tariffs" id="tariffs">
        <div class="tariffs-head">
            <h2>наши тарифы</h2>
        </div>
        <div class="tariffs-offers">
            <div class="tariffs-offers-item">
                <h3 class="offers-item-name">
                    Минимальный
                </h3>
                <div class="offers-item-price">
                    <p>1700<span>uah</span></p>
                </div>
                <div class="offers-item-list">
                    <ul>
                        <li>Фотосессия 1 час</li>
                        <li>Аренда 1 зала</li>
                        <li>Лайт-обработка 100 фото</li>
                        <li>Срок готовности 7 дней</li>
                        <li>Аренда нарядов (не включено)</li>
                        <li>Макияж и прическа (не включено)</li>
                    </ul>
                </div>
                <div class="offers-item-order">
                    <span>Заказать</span>
                    <div class="offers-make-order">
                        <div class="offers-make-order-head">
                            <span>закажите услугу</span>
                            <div class="closeOffer"></div>
                        </div>
                        <form action="">
                            <label for="">Имя<input type="text" name="name"></label>
                            <label for="">Телефон<input type="text" name="phone"></label>
                            <input type="submit" value="Отправить" class="tariffs-submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tariffs-offers-item">
                <h3 class="offers-item-name">
                    Стандарт
                </h3>
                <div class="offers-item-price">
                    <p>2500<span>uah</span></p>
                </div>
                <div class="offers-item-list">
                    <ul>
                        <li>Фотосессия 1,5 часа</li>
                        <li>Аренда 2 залов</li>
                        <li>Лайт-обработка 150 фото</li>
                        <li>Срок готовности 7 дней</li>
                        <li>Аренда нарядов (не включено)</li>
                        <li>Макияж и прическа (не включено)</li>
                    </ul>
                </div>
                <div class="offers-item-order">
                    <span>Заказать</span>
                    <div class="offers-make-order">
                        <div class="offers-make-order-head">
                            <span>закажите услугу</span>
                            <div class="closeOffer"></div>
                        </div>
                        <form action="">
                            <label for="">Имя<input type="text" name="name"></label>
                            <label for="">Телефон<input type="text" name="phone"></label>
                            <input type="submit" value="Отправить" class="tariffs-submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tariffs-offers-item active-tariff">
                <h3 class="offers-item-name">
                    Стандарт +
                </h3>
                <div class="offers-item-price">
                    <p>2900<span>uah</span></p>
                </div>
                <div class="offers-item-list">
                    <ul>
                        <li>Фотосессия 1,5 часа</li>
                        <li>Аренда 2 залов</li>
                        <li>Лайт-обработка 150 фото</li>
                        <li>Срок готовности 7 дней</li>
                        <li>Аренда наряда</li>
                        <li>Макияж и прическа</li>
                    </ul>
                </div>
                <div class="offers-item-order">
                    <span>Заказать</span>
                    <div class="offers-make-order">
                        <div class="offers-make-order-head">
                            <span>закажите услугу</span>
                            <div class="closeOffer"></div>
                        </div>
                        <form action="">
                            <label for="">Имя<input type="text" name="name"></label>
                            <label for="">Телефон<input type="text" name="phone"></label>
                            <input type="submit" value="Отправить" class="tariffs-submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tariffs-offers-item">
                <h3 class="offers-item-name">
                    Все включено
                </h3>
                <div class="offers-item-price">
                    <p>5100<span>uah</span></p>
                </div>
                <div class="offers-item-list">
                    <ul>
                        <li>Фотосессия 2 часа</li>
                        <li>Аренда 3 залов</li>
                        <li>Лайт-обработка 200 фото</li>
                        <li>Срок готовности 7 дней</li>
                        <li>Аренда 2 наряда</li>
                        <li>Макияж и прическа</li>
                    </ul>
                </div>
                <div class="offers-item-order">
                    <span>Заказать</span>
                    <div class="offers-make-order">
                        <div class="offers-make-order-head">
                            <span>закажите услугу</span>
                            <div class="closeOffer"></div>
                        </div>
                        <form action="">
                            <label for="">Имя<input type="text" name="name"></label>
                            <label for="">Телефон<input type="text" name="phone"></label>
                            <input type="submit" value="Отправить" class="tariffs-submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

       <div class="tariffs-slider-controls desktop-none">
          <div class="tariffs-prev"> {{> image src='onmap-arrow.svg' }}</div>
          <div class="tariffs-next"> {{> image src='onmap-arrow.svg' }}</div>
       </div>
    </div>
</section>