<section class="container">
    <div class="tariffs" id="tariffs">
        <div class="tariffs-head">
            <h2>наши тарифы</h2>
        </div>
        <div class="tariffs-offers">
            <div class="tariffs-offers-item">
                <h3 class="offers-item-name">
                    economy
                </h3>
                <div class="offers-item-price">
                    <p>250<span>uah</span></p>
                </div>
                <div class="offers-item-list">
                    <ul>
                        <li>10 Projects</li>
                        <li>Unlimite hoste projects</li>
                        <li>Free Staging</li>
                        <li>No Code Export</li>
                        <li>No Whote labeling</li>
                        <li>No site password protect</li>
                    </ul>
                </div>
                <div class="offers-item-order">
                    <span>Заказать</span>
                    <div class="offers-make-order">
                        <div class="offers-make-order-head">
                            <span>закажите услугу</span>
                            <div class="closeOffer"></div>
                        </div>
                        <form action="">
                            <label for="">Имя<input type="text" name="name"></label>
                            <label for="">Телефон<input type="text" name="phone"></label>
                            <input type="submit" value="Отправить" class="tariffs-submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tariffs-offers-item">
                <h3 class="offers-item-name">
                    economy
                </h3>
                <div class="offers-item-price">
                    <p>300<span>uah</span></p>
                </div>
                <div class="offers-item-list">
                    <ul>
                        <li>10 Projects</li>
                        <li>Unlimite hoste projects</li>
                        <li>Free Staging</li>
                        <li>No Code Export</li>
                        <li>No Whote labeling</li>
                        <li>No site password protect</li>
                    </ul>
                </div>
                <div class="offers-item-order">
                    <span>Заказать</span>
                    <div class="offers-make-order">
                        <div class="offers-make-order-head">
                            <span>закажите услугу</span>
                            <div class="closeOffer"></div>
                        </div>
                        <form action="">
                            <label for="">Имя<input type="text" name="name"></label>
                            <label for="">Телефон<input type="text" name="phone"></label>
                            <input type="submit" value="Отправить" class="tariffs-submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tariffs-offers-item active-tariff">
                <h3 class="offers-item-name">
                    economy
                </h3>
                <div class="offers-item-price">
                    <p>400<span>uah</span></p>
                </div>
                <div class="offers-item-list">
                    <ul>
                        <li>10 Projects</li>
                        <li>Unlimite hoste projects</li>
                        <li>Free Staging</li>
                        <li>No Code Export</li>
                        <li>No Whote labeling</li>
                        <li>No site password protect</li>
                    </ul>
                </div>
                <div class="offers-item-order">
                    <span>Заказать</span>
                    <div class="offers-make-order">
                        <div class="offers-make-order-head">
                            <span>закажите услугу</span>
                            <div class="closeOffer"></div>
                        </div>
                        <form action="">
                            <label for="">Имя<input type="text" name="name"></label>
                            <label for="">Телефон<input type="text" name="phone"></label>
                            <input type="submit" value="Отправить" class="tariffs-submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tariffs-offers-item">
                <h3 class="offers-item-name">
                    economy
                </h3>
                <div class="offers-item-price">
                    <p>500<span>uah</span></p>
                </div>
                <div class="offers-item-list">
                    <ul>
                        <li>10 Projects</li>
                        <li>Unlimite hoste projects</li>
                        <li>Free Staging</li>
                        <li>No Code Export</li>
                        <li>No Whote labeling</li>
                        <li>No site password protect</li>
                    </ul>
                </div>
                <div class="offers-item-order">
                    <span>Заказать</span>
                    <div class="offers-make-order">
                        <div class="offers-make-order-head">
                            <span>закажите услугу</span>
                            <div class="closeOffer"></div>
                        </div>
                        <form action="">
                            <label for="">Имя<input type="text" name="name"></label>
                            <label for="">Телефон<input type="text" name="phone"></label>
                            <input type="submit" value="Отправить" class="tariffs-submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

       <div class="tariffs-slider-controls desktop-none">
          <div class="tariffs-prev"> {{> image src='onmap-arrow.svg' }}</div>
          <div class="tariffs-next"> {{> image src='onmap-arrow.svg' }}</div>
       </div>
    </div>
</section>