<section class="container container-big">
    <div class="seo-text">
        <div class="seo-text-head">
            <h2>SEO текст</h2>
        </div>
        <div class="seo-text-body">
           <p>Труд, первый том которого я предлагаю вниманию публики, составляет продолжение опубликованного в 1859 г. моего сочинения «К критике политической экономии». Длительный перерыв между началом и продолжением вызван многолетней болезнью, которая все снова и снова прерывала мою работу.

               Содержание более раннего сочинения, упомянутого выше, резюмировано в первой главе этого тома. Я сделал это не только в интересах большей связности и полноты исследования. Самое изложение улучшено. Многие пункты, которые там были едва намечены, получили здесь дальнейшее развитие, поскольку это допускал предмет исследования, и наоборот, положения, обстоятельно разработанные там, лишь вкратце намечены здесь. Само собой разумеется, разделы, касающиеся исторического развития теории стоимости и денег, здесь совсем опущены. Однако читатель, знакомый с работой «К критике политической экономии», найдет в примечаниях к первой главе настоящего сочинения новые источники по истории этих теорий.

               Всякое начало трудно, – эта истина справедлива для каждой науки. И в данном случае наибольшие трудности представляет понимание первой главы, – в особенности того ее раздела, который заключает в себе анализ товара. Что касается особенно анализа субстанции стоимости и величины стоимости, то я сделал его популярным, насколько это возможно.[1] Форма стоимости, получающая свои закопченный вид в денежной форме, очень бессодержательна и проста. И, тем не менее, ум человеческий тщетно пытался постигнуть ее в течение более чем 2 000 лет, между тем как, с другой стороны, ему удался, но крайней мере приблизительно, анализ гораздо более содержательных и сложных форм. Почему так? Потому что развитое тело легче изучать, чем клеточку тела. К тому же при анализе экономических форм нельзя пользоваться ни микроскопом, ни химическими реактивами. То и другое должна заменить сила абстракции. Но товарная форма продукта труда, или форма стоимости товара, есть форма экономической клеточки буржуазного общества. Для непосвященного анализ ее покажется просто мудрствованием вокруг мелочей. И это действительно мелочи, но мелочи такого рода, с какими имеет дело, например, микроанатомия.

               За исключением раздела о форме стоимости, эта книга не представит трудностей для понимания. Я, разумеется, имею в виду читателей, которые желают научиться чему-нибудь новому и, следовательно, желают подумать самостоятельно.

               Физик или наблюдает процессы природы там, где они проявляются в наиболее отчетливой форме и наименее затемняются нарушающими их влияниями, или же, если это возможно, производит эксперимент при условиях, обеспечивающих ход процесса в чистом виде. Предметом моего исследования в настоящей работе является капиталистический способ производства и соответствующие ему отношения производства и обмена. Классической страной этого способа производства является до сих пор Англия. В этом причина, почему она служит главной иллюстрацией для моих теоретических выводов. Но если немецкий читатель станет фарисейски пожимать плечами по поводу условий, в которые поставлены английские промышленные и сельскохозяйственные рабочие, или вздумает оптимистически успокаивать себя тем, что в Германии дело обстоит далеко не так плохо, то я должен буду заметить ему: De te fabula narratur! [He твоя ли история это!].

              Segui il tuo corso, e lascia dir le genti!.</p>
        </div>
    </div>
</section>